includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - vendor
        - tests
    bootstrapFiles:
        - vendor/autoload.php
        - src/helpers.php
